language: ruby

sudo:
    false
    
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0

before_script:
  - git submodule update --remote --recursive

script: 
  - bundle exec rake spec:ci
  - bundle exec rake spec:api
  #- rake gem
  #- gem install ./authorizenet-1.8.9.1.gem
  #- cd sample-code-ruby
  - bundle exec rspec sample-code-ruby/spec/sample_code_spec.rb
