language: ruby

sudo:
    false
    
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
script: 
  - bundle exec rake spec:ci
  - rake gem
  - gem install ./authorizenet-1.8.7.gem
  - cd sample-code-ruby
  - bundle exec rspec spec/sample_code_spec.rb
