language: ruby

sudo:
    false
    
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0

before_script:
  - git submodule update --remote --recursive

script: 
  - bundle exec rake spec:ci
  - rake gem
  - gem install ./authorizenet-1.8.8.gem
  - cd sample-code-ruby
  - bundle exec rspec spec/sample_code_spec.rb
