language: ruby

sudo:
    false
    
rvm:
  - 2.1.0
  - 2.2.5
  - 2.3.1
  - 2.4.0

before_script:
  - git submodule update --remote --recursive

script: 
  - bundle exec rake spec:ci
  - bundle exec rake spec:api
  - bundle exec rake spec:testrunner

