<!DOCTYPE html>
<html>
  <head>
    <title>Direct Post Sample App</title>
    <style>
    body {
      text-align: center;
      font-family: Helvetica;
    }
    label {
      display: block;
    }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>